@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 86px;
	left: 741px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 60px;
	left: 619px;
	width: 394px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantenatural_nombrecompleto_nombrecompleto {
	position: absolute;
	top: 392px;
	left: 250px;
	width: 671px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantejurdico_datosdelsolicitante_nombre {
	position: absolute;
	top: 392px;
	left: 251px;
	width: 674px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_1_datosdelcoparticipante_tipodecoparticipante_string {
	position: absolute;
	top: 682px;
	left: 252px;
	width: 447px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_1_datosdelcoparticipante_idoneidad {
	position: absolute;
	top: 758px;
	left: 251px;
	width: 446px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_1_nombrecompleto_nombrecompleto {
	position: absolute;
	top: 720px;
	left: 253px;
	width: 743px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_2_datosdelcoparticipante_tipodecoparticipante_string {
	position: absolute;
	top: 864px;
	left: 266px;
	width: 474px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_2_datosdelcoparticipante_idoneidad {
	position: absolute;
	top: 939px;
	left: 265px;
	width: 478px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_2_nombrecompleto_nombrecompleto {
	position: absolute;
	top: 902px;
	left: 267px;
	width: 725px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_3_datosdelcoparticipante_tipodecoparticipante_string {
	position: absolute;
	top: 1044px;
	left: 267px;
	width: 479px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_3_datosdelcoparticipante_idoneidad {
	position: absolute;
	top: 1119px;
	left: 264px;
	width: 479px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_3_nombrecompleto_nombrecompleto {
	position: absolute;
	top: 1083px;
	left: 267px;
	width: 724px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_4_datosdelcoparticipante_tipodecoparticipante_string {
	position: absolute;
	top: 1225px;
	left: 268px;
	width: 476px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_4_datosdelcoparticipante_idoneidad {
	position: absolute;
	top: 1301px;
	left: 267px;
	width: 477px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelcoparticipante_instance_4_nombrecompleto_nombrecompleto {
	position: absolute;
	top: 1263px;
	left: 266px;
	width: 725px;
	height: 20px;
	overflow: hidden;
  }
  .datosgeneralesdelproyecto_datosgeneralesdelproyecto_nombredelproyecto {
	position: absolute;
	top: 521px;
	left: 254px;
	width: 666px;
	height: 20px;
	overflow: hidden;
  }
   .datosgeneralesdelproyecto_datosgeneralesdelproyecto_categoradelproyecto {
	position: absolute;
	top: 559px;
	left: 253px;
	width: 690px;
	height: 20px;
	overflow: hidden;
  }
  .datosgeneralesdelasolicitud_datosgeneralesdelasolicitud_tipodeplano {
	position: absolute;
	top: 486px;
	left: 253px;
	width: 299px;
	height: 20px;
	overflow: hidden;
  }
  .datosgeneralesdelproyecto_datosgeneralesdelproyecto_nmerodeplano {
	position: absolute;
	top: 487px;
	left: 708px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
