@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 93px;
	left: 732px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 68px;
	left: 606px;
	width: 401px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_nombredelaentidad {
	position: absolute;
	top: 244px;
	left: 285px;
	width: 480px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_usuario {
	position: absolute;
	top: 283px;
	left: 282px;
	width: 260px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_nmerodeobservacin {
	position: absolute;
	top: 283px;
	left: 772px;
	width: 147px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_observaciones {
	position: absolute;
	top: 347px;
	left: 44px;
	width: 941px;
	height: 52px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_nombredelaentidad {
	position: absolute;
	top: 438px;
	left: 271px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_usuario {
	position: absolute;
	top: 477px;
	left: 275px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_nmerodeobservacin {
	position: absolute;
	top: 476px;
	left: 766px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_observaciones {
	position: absolute;
	top: 540px;
	left: 41px;
	width: 934px;
	height: 54px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_nombredelaentidad {
	position: absolute;
	top: 633px;
	left: 271px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_usuario {
	position: absolute;
	top: 671px;
	left: 270px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_nmerodeobservacin {
	position: absolute;
	top: 671px;
	left: 766px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_observaciones {
	position: absolute;
	top: 734px;
	left: 37px;
	width: 934px;
	height: 54px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_nombredelaentidad {
	position: absolute;
	top: 872px;
	left: 273px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_usuario {
	position: absolute;
	top: 909px;
	left: 275px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_nmerodeobservacin {
	position: absolute;
	top: 910px;
	left: 768px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_observaciones {
	position: absolute;
	top: 972px;
	left: 42px;
	width: 934px;
	height: 54px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_nombredelaentidad {
	position: absolute;
	top: 1082px;
	left: 270px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_usuario {
	position: absolute;
	top: 1121px;
	left: 270px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_nmerodeobservacin {
	position: absolute;
	top: 1121px;
	left: 763px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_observaciones {
	position: absolute;
	top: 1184px;
	left: 33px;
	width: 934px;
	height: 54px;
	overflow: hidden;
  }
