@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 96px;
	left: 722px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 70px;
	left: 613px;
	width: 401px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora6_nombredelaentidad {
	position: absolute;
	top: 167px;
	left: 289px;
	width: 480px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora6_usuario {
	position: absolute;
	top: 205px;
	left: 289px;
	width: 260px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora6_nmerodeobservacin {
	position: absolute;
	top: 205px;
	left: 775px;
	width: 147px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora6_observaciones {
	position: absolute;
	top: 268px;
	left: 42px;
	width: 941px;
	height: 255px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora7_nombredelaentidad {
	position: absolute;
	top: 545px;
	left: 282px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora7_usuario {
	position: absolute;
	top: 583px;
	left: 286px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora7_nmerodeobservacin {
	position: absolute;
	top: 583px;
	left: 777px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora7_observaciones {
	position: absolute;
	top: 650px;
	left: 52px;
	width: 934px;
	height: 255px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora8_nombredelaentidad {
	position: absolute;
	top: 932px;
	left: 285px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora8_usuario {
	position: absolute;
	top: 970px;
	left: 284px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora8_nmerodeobservacin {
	position: absolute;
	top: 970px;
	left: 780px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora8_observaciones {
	position: absolute;
	top: 1033px;
	left: 50px;
	width: 934px;
	height: 255px;
	overflow: hidden;
  }
  
