@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}
.informacindesolicitud_datosdelasolicitud_fechadesolicitud {
  position: absolute;
  top: 127px;
  left: 658px;
  width: 338px;
  height: 20px;
  overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
  position: absolute;
  top: 96px;
  left: 658px;
  width: 335px;
  height: 20px;
  overflow: hidden;
  }
  .tipodesolicitud_tipodesolicituddelicenciadeoperacionesdefarmacia_tipodesolicituddelicenciadeoperacionesdefarmacia {
  position: absolute;
  top: 380px;
  left: 232px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelrepresentante_datosdelapersona_cdula {
  position: absolute;
  top: 569px;
  left: 243px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelrepresentante_datosdelapersona_nombrecompleto {
  position: absolute;
  top: 535px;
  left: 243px;
  width: 706px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelrepresentante_informacinlaboral_profesin {
  position: absolute;
  top: 662px;
  left: 243px;
  width: 310px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelrepresentante_informacinlaboral_actuaencondicinde {
  position: absolute;
  top: 662px;
  left: 718px;
  width: 281px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelrepresentante_indicaraofiscal_anio {
  position: absolute;
  top: 695px;
  left: 243px;
  width: 316px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelrepresentante_informacinderesidencialocalizacin_direccin {
  position: absolute;
  top: 600px;
  left: 243px;
  width: 700px;
  height: 60px;
  overflow: hidden;
  }
  .datosdelrepresentante_informacinderesidencialocalizacin_correoelectrnico {
  position: absolute;
  top: 695px;
  left: 717px;
  width: 287px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_datosdelaempresa_ruc {
  position: absolute;
  top: 835px;
  left: 298px;
  width: 258px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_datosdelaempresa_nombre {
  position: absolute;
  top: 801px;
  left: 298px;
  width: 725px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_direccin_provincia_lista {
  position: absolute;
  top: 933px;
  left: 298px;
  width: 261px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_direccin_distrito_lista {
  position: absolute;
  top: 933px;
  left: 717px;
  width: 321px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_direccin_corregimiento_lista {
  position: absolute;
  top: 965px;
  left: 298px;
  width: 259px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_direccin_direccin {
  position: absolute;
  top: 865px;
  left: 298px;
  width: 700px;
  height: 60px;
  overflow: hidden;
  }
  .datosdelestablecimiento_direccin_nmerodetelfono {
  position: absolute;
  top: 999px;
  left: 298px;
  width: 262px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_direccin_nmerodefax {
  position: absolute;
  top: 999px;
  left: 717px;
  width: 322px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_direccin_correoelectrnico {
  position: absolute;
  top: 965px;
  left: 717px;
  width: 328px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_registrodeempresa_licenciadeoperacin {
  position: absolute;
  top: 1032px;
  left: 710px;
  width: 322px;
  height: 20px;
  overflow: hidden;
  }
  .datosdelestablecimiento_sujetosacontrol_sno {
    position:absolute;
    top: 1160px;
    left: 838px;
    width: 58px;
    height: 20px;
    overflow:hidden;
  }
  .horariodeoperacin_horario_campooculto {
    position:absolute;
    top: 1280px;
    left: 525px;
    width: 58px;
    height: 20px;
    overflow:hidden;
  }
  .horariodeoperacin_lunesaviernes_horadeapertura1 {
    position: absolute;
    top: 1200px;
    left: 300px;
    width: 100px;
    height: 20px;
    overflow: hidden;
  }
  .horariodeoperacin_lunesaviernes_horadecierre1 {
    position: absolute;
    top: 1200px;
    left: 400px;
    width: 100px;
    height: 20px;
    overflow: hidden;
  }
  .horariodeoperacin_sbados_horadeapertura1 {
    position:absolute;
    top: 1200px;
    left: 675px;
    width: 100px;
    height: 20px;
    overflow:hidden;
  }
  .horariodeoperacin_sbados_horadecierre1 {
    position:absolute;
    top: 1200px;
    left: 775px;
    width: 100px;
    height: 20px;
    overflow:hidden;
  }
  .horariodeoperacin_domingos_horadeapertura1 {
    position: absolute;
    top: 1240px;
    left: 300px;
    width: 100px;
    height: 20px;
    overflow: hidden;
  }
  .horariodeoperacin_domingos_horadecierre1 {
    position:absolute;
    top: 1240px;
    left: 400px;
    width: 100px;
    height: 20px;
    overflow:hidden;
  }
  .horariodeoperacin_feriados_horadeapertura1 {
    position:absolute;
    top: 1240px;
    left: 675px;
    width: 100px;
    height: 20px;
    overflow:hidden;
  }
  .horariodeoperacin_feriados_horadecierre1 {
    position:absolute;
    top: 1240px;
    left: 775px;
    width: 100px;
    height: 20px;
    overflow:hidden;
  }
