@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}
.informacindesolicitud_datosdelasolicitud_fechadesolicitud {
  position: absolute;
  top: 127px;
  left: 658px;
  width: 338px;
  height: 20px;
  overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
  position: absolute;
  top: 96px;
  left: 658px;
  width: 335px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_4_turnofarmaceutico_nombre {
    position:absolute;
    top: 280px;
    left: 345px;
    width: 682px;
    height: 20px;
    overflow:hidden;
  }
  .turnosfarmacuticos_instance_4_turnofarmaceutico_idoneidad {
    position:absolute;
    top: 318px;
    left: 345px;
    width: 232px;
    height: 20px;
    overflow: hidden;
  }
  .turnosfarmacuticos_instance_4_turnofarmaceutico_horadeapertura {
    position: absolute;
    top: 355px;
    left: 345px;
    width: 232px;
    height: 20px;
    overflow: hidden;
  }
  .turnosfarmacuticos_instance_4_turnofarmaceutico_horadecierre {
    position:absolute;
    top: 355px;
    left: 712px;
    width: 232px;
    height: 20px;
    overflow:hidden;
  }
  .turnosfarmacuticos_instance_5_turnofarmaceutico_nombre {
    position:absolute;
    top: 472px;
    left: 345px;
    width: 682px;
    height: 20px;
    overflow:hidden;
  }
  .turnosfarmacuticos_instance_5_turnofarmaceutico_idoneidad {
    position:absolute;
    top: 510px;
    left: 345px;
    width: 232px;
    height: 20px;
    overflow: hidden;
  }
  .turnosfarmacuticos_instance_5_turnofarmaceutico_horadeapertura {
    position: absolute;
    top: 548px;
    left: 345px;
    width: 232px;
    height: 20px;
    overflow: hidden;
  }
  .turnosfarmacuticos_instance_5_turnofarmaceutico_horadecierre {
    position:absolute;
    top: 548px;
    left: 712px;
    width: 232px;
    height: 20px;
    overflow:hidden;
  }
  .turnosfarmacuticos_instance_6_turnofarmaceutico_nombre {
    position:absolute;
    top: 664px;
    left: 345px;
    width: 682px;
    height: 20px;
    overflow:hidden;
  }
  .turnosfarmacuticos_instance_6_turnofarmaceutico_idoneidad {
    position:absolute;
    top: 702px;
    left: 345px;
    width: 232px;
    height: 20px;
    overflow: hidden;
  }
  .turnosfarmacuticos_instance_6_turnofarmaceutico_horadeapertura {
    position: absolute;
    top: 741px;
    left: 345px;
    width: 232px;
    height: 20px;
    overflow: hidden;
  }
  .turnosfarmacuticos_instance_6_turnofarmaceutico_horadecierre {
    position:absolute;
    top: 741px;
    left: 712px;
    width: 232px;
    height: 20px;
    overflow:hidden;
  }
  .turnosfarmacuticos_instance_7_turnofarmaceutico_nombre {
  position: absolute;
  top: 857px;
  left: 344px;
  width: 667px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_7_turnofarmaceutico_idoneidad {
  position: absolute;
  top: 896px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_7_turnofarmaceutico_horadeapertura {
  position: absolute;
  top: 934px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_7_turnofarmaceutico_horadecierre {
  position: absolute;
  top: 934px;
  left: 712px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_8_turnofarmaceutico_nombre {
  position: absolute;
  top: 1051px;
  left: 344px;
  width: 475px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_8_turnofarmaceutico_idoneidad {
  position: absolute;
  top: 1091px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_8_turnofarmaceutico_horadeapertura {
  position: absolute;
  top: 1128px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_8_turnofarmaceutico_horadecierre {
  position: absolute;
  top: 1128px;
  left: 712px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_9_turnofarmaceutico_nombre {
  position: absolute;
  top: 1243px;
  left: 344px;
  width: 589px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_9_turnofarmaceutico_idoneidad {
  position: absolute;
  top: 1280px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_9_turnofarmaceutico_horadeapertura {
  position: absolute;
  top: 1319px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_9_turnofarmaceutico_horadecierre {
  position: absolute;
  top: 1319px;
  left: 712px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_10_turnofarmaceutico_nombre {
  position: absolute;
  top: 1435px;
  left: 345px;
  width: 682px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_10_turnofarmaceutico_idoneidad {
  position: absolute;
  top: 1475px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_10_turnofarmaceutico_horadeapertura {
  position: absolute;
  top: 1510px;
  left: 344px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
  .turnosfarmacuticos_instance_10_turnofarmaceutico_horadecierre {
  position: absolute;
  top: 1510px;
  left: 712px;
  width: 232px;
  height: 20px;
  overflow: hidden;
  }
