@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 93px;
	left: 732px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 68px;
	left: 606px;
	width: 401px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_nombredelaentidad {
	position: absolute;
	top: 194px;
	left: 290px;
	width: 480px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_usuario {
	position: absolute;
	top: 233px;
	left: 287px;
	width: 260px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_nmerodeobservacin {
	position: absolute;
	top: 233px;
	left: 777px;
	width: 147px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_observaciones {
	position: absolute;
	top: 297px;
	left: 39px;
	width: 941px;
	height: 255px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_nombredelaentidad {
	position: absolute;
	top: 570px;
	left: 265px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_usuario {
	position: absolute;
	top: 609px;
	left: 269px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_nmerodeobservacin {
	position: absolute;
	top: 608px;
	left: 760px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_observaciones {
	position: absolute;
	top: 672px;
	left: 35px;
	width: 934px;
	height: 254px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_nombredelaentidad {
	position: absolute;
	top: 936px;
	left: 270px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_usuario {
	position: absolute;
	top: 974px;
	left: 269px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_nmerodeobservacin {
	position: absolute;
	top: 974px;
	left: 765px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_observaciones {
	position: absolute;
	top: 1044px;
	left: 39px;
	width: 934px;
	height: 255px;
	overflow: hidden;
  }
 
