
 @charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}	
/* Otras clases de formatos preestablecidos que a�n no se han definido */

   .datosdeltitularrp_datosdesolicitud_fechadesolicitud {
	position: absolute;
	top: 62px;
	left: 61px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeltitularrp_datosdesolicitud_numerodesolicitud {
	position: absolute;
	top: 55px;
	left: 754px;
	width: 259px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeltitularrp_datosbsicosdepersonanatural_cdulapasaporte {
	position: absolute;
	top: 438px;
	left: 628px;
	width: 259px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeltitularrp_datosbsicosdepersonanatural_nombrecompleto {
	position: absolute;
	top: 438px;
	left: 98px;
	width: 373px;
	height: 20px;
	overflow: hidden;
  }
  .mensajedij_mensajedij_campo_data {
	position: absolute;
	top: 498px;
	left: 48px;
	width: 895px;
	height: 487px;
	overflow: hidden;
  }
  .datosdeltitularrp_codigounicodij_codigounico {
	position: absolute;
	top: 291px;
	left: 194px;
	width: 206px;
	height: 20px;
	overflow: hidden;
  }
  .codigounicodij_codigounicodij_year {
	position: absolute;
	top: 1049px;
	left: 873px;
	width: 85px;
	height: 17px;
	overflow: hidden;
  }
  .codigounicodij_codigounicodij_mes {
	position: absolute;
	top: 1048px;
	left: 707px;
	width: 135px;
	height: 18px;
	overflow: hidden;
  }
  .codigounicodij_codigounicodij_dia {
	position: absolute;
	top: 1049px;
	left: 529px;
	width: 49px;
	height: 18px;
	overflow: hidden;
  }
  .directordij_datosdelfuncionariogenerico_usuario2 {
	position: absolute;
	top: 1160px;
	left: 457px;
	width: 274px;
	height: 20px;
	overflow: hidden;
  }
  .directordij_datosdelfuncionariogenerico_usuario {
	position: absolute;
	top: 363px;
	left: 213px;
	width: 376px;
	height: 19px;
	overflow: hidden;
  }
 .datosdelsolicitante_datosdeubicacin_provincia {
	position: absolute;
	top: 1014px;
	left: 223px;
	width: 219px;
	height: 20px;
	overflow: hidden;
  }
