@charset "utf-8";
@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */

  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 67px;
	left: 679px;
	width: 345px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 40px;
	left: 683px;
	width: 341px;
	height: 20px;
	overflow: hidden;
  }
  .entidadesfijas_entidad_nombredelaentidad {
	position: absolute;
	top: 364px;
	left: 26px;
	width: 479px;
	height: 32px;
	overflow: hidden;
  }
  .entidadesfijas_entidad_montoapagar {
	position: absolute;
	top: 376px;
	left: 511px;
	width: 475px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_nombreentidad {
	position: absolute;
	top: 451px;
	left: 25px;
	width: 481px;
	height: 40px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora0_monto_texto {
	position: absolute;
	top: 470px;
	left: 511px;
	width: 475px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_nombreentidad {
	position: absolute;
	top: 494px;
	left: 27px;
	width: 477px;
	height: 48px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora1_monto_texto {
	position: absolute;
	top: 520px;
	left: 508px;
	width: 480px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_nombreentidad {
	position: absolute;
	top: 547px;
	left: 29px;
	width: 479px;
	height: 47px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora2_monto_texto {
	position: absolute;
	top: 573px;
	left: 512px;
	width: 473px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_nombreentidad {
	position: absolute;
	top: 598px;
	left: 31px;
	width: 473px;
	height: 46px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_monto_texto {
	position: absolute;
	top: 627px;
	left: 512px;
	width: 471px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_nombreentidad {
	position: absolute;
	top: 651px;
	left: 28px;
	width: 479px;
	height: 47px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_monto_texto {
	position: absolute;
	top: 679px;
	left: 512px;
	width: 472px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora5_nombreentidad {
	position: absolute;
	top: 703px;
	left: 29px;
	width: 479px;
	height: 47px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora5_monto_texto {
	position: absolute;
	top: 730px;
	left: 513px;
	width: 476px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora6_nombreentidad {
	position: absolute;
	top: 755px;
	left: 28px;
	width: 478px;
	height: 49px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora6_monto_texto {
	position: absolute;
	top: 783px;
	left: 510px;
	width: 474px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora7_nombreentidad {
	position: absolute;
	top: 808px;
	left: 27px;
	width: 479px;
	height: 47px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora7_monto_texto {
	position: absolute;
	top: 835px;
	left: 513px;
	width: 469px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora8_nombreentidad {
	position: absolute;
	top: 860px;
	left: 29px;
	width: 479px;
	height: 48px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora8_monto_texto {
	position: absolute;
	top: 887px;
	left: 510px;
	width: 475px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora9_nombreentidad {
	position: absolute;
	top: 912px;
	left: 29px;
	width: 478px;
	height: 50px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora9_monto_texto {
	position: absolute;
	top: 943px;
	left: 512px;
	width: 470px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora10_nombreentidad {
	position: absolute;
	top: 967px;
	left: 29px;
	width: 476px;
	height: 46px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora10_monto_texto {
	position: absolute;
	top: 995px;
	left: 513px;
	width: 467px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora11_nombreentidad {
	position: absolute;
	top: 1017px;
	left: 29px;
	width: 477px;
	height: 49px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora11_monto_texto {
	position: absolute;
	top: 1046px;
	left: 512px;
	width: 472px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora12_nombreentidad {
	position: absolute;
	top: 1070px;
	left: 28px;
	width: 476px;
	height: 47px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora12_monto_texto {
	position: absolute;
	top: 1099px;
	left: 511px;
	width: 470px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora13_nombreentidad {
	position: absolute;
	top: 1123px;
	left: 30px;
	width: 479px;
	height: 34px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora13_monto_texto {
	position: absolute;
	top: 1139px;
	left: 511px;
	width: 473px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora14_nombreentidad {
	position: absolute;
	top: 1163px;
	left: 27px;
	width: 478px;
	height: 33px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora14_monto_texto {
	position: absolute;
	top: 1179px;
	left: 512px;
	width: 475px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_montototal_montopagado {
	position: absolute;
	top: 1267px;
	left: 513px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_montototal_costo {
	position: absolute;
	top: 1266px;
	left: 511px;
	width: 455px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_montototal_acumulado {
	position: absolute;
	top: 1222px;
	left: 512px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_montototal_final {
	position: absolute;
	top: 1222px;
	left: 512px;
	width: 457px;
	height: 20px;
	overflow: hidden;
  }
/* CSS Document */
