@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 74px;
	left: 664px;
	width: 349px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 48px;
	left: 664px;
	width: 348px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_secretrario_nombre {
	position: absolute;
	top: 130px;
	left: 291px;
	width: 709px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_secretrario_cdula {
	position: absolute;
	top: 166px;
	left: 291px;
	width: 368px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_secretrario_pasaporte {
	position: absolute;
	top: 166px;
	left: 291px;
	width: 364px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_representantelegal_nombre {
	position: absolute;
	top: 410px;
	left: 291px;
	width: 714px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_representantelegal_cdula {
	position: absolute;
	top: 444px;
	left: 291px;
	width: 357px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_representantelegal_pasaporte {
	position: absolute;
	top: 444px;
	left: 291px;
	width: 360px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_apoderadogeneral_nombre {
	position: absolute;
	top: 476px;
	left: 291px;
	width: 712px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_apoderadogeneral_cdula {
	position: absolute;
	top: 514px;
	left: 291px;
	width: 357px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_apoderadogeneral_pasaporte {
	position: absolute;
	top: 514px;
	left: 291px;
	width: 354px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_1_nombre {
	position: absolute;
	top: 201px;
	left: 291px;
	width: 709px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_1_cdula {
	position: absolute;
	top: 238px;
	left: 291px;
	width: 358px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_1_pasaporte {
	position: absolute;
	top: 238px;
	left: 291px;
	width: 354px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_2_nombre {
	position: absolute;
	top: 269px;
	left: 291px;
	width: 711px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_2_cdula {
	position: absolute;
	top: 305px;
	left: 291px;
	width: 371px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_2_pasaporte {
	position: absolute;
	top: 305px;
	left: 291px;
	width: 367px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_3_nombre {
	position: absolute;
	top: 341px;
	left: 291px;
	width: 713px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_3_cdula {
	position: absolute;
	top: 375px;
	left: 291px;
	width: 366px;
	height: 20px;
	overflow: hidden;
  }
  .miembrosdelajuntadirectiva_director_instance_3_pasaporte {
	position: absolute;
	top: 374px;
	left: 291px;
	width: 359px;
	height: 20px;
	overflow: hidden;
  }
