@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 65px;
	left: 718px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 39px;
	left: 721px;
	width: 303px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_partesintervinientes_partesintervinientes {
	position: absolute;
	top: 373px;
	left: 278px;
	width: 677px;
	height: 52px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_clasedecontrato_tipodecontrato {
	position: absolute;
	top: 449px;
	left: 279px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_especificar_especificar {
	position: absolute;
	top: 494px;
	left: 280px;
	width: 676px;
	height: 51px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_objeto_objeto {
	position: absolute;
	top: 553px;
	left: 281px;
	width: 676px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_valor_indiquevalor {
	position: absolute;
	top: 596px;
	left: 281px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_valor_indiquecuanta {
	position: absolute;
	top: 595px;
	left: 745px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_duraciondelaobra_duracion {
	position: absolute;
	top: 641px;
	left: 282px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_lugaryfechadelafirma_instance_1_pas {
	position: absolute;
	top: 766px;
	left: 286px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_lugaryfechadelafirma_instance_1_fechaenquefuefirmadoelcontrato {
	position: absolute;
	top: 803px;
	left: 284px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_lugaryfechadelafirma_instance_1_ciudad {
	position: absolute;
	top: 763px;
	left: 743px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_lugaryfechadelafirma_instance_2_pas {
	position: absolute;
	top: 916px;
	left: 282px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_lugaryfechadelafirma_instance_2_fechaenquefuefirmadoelcontrato {
	position: absolute;
	top: 954px;
	left: 282px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_lugaryfechadelafirma_instance_2_ciudad {
	position: absolute;
	top: 916px;
	left: 748px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .especificacionesdelcontratoydemsactos_observacionesgenerales_observacionesgenerales {
	position: absolute;
	top: 1091px;
	left: 270px;
	width: 679px;
	height: 209px;
	overflow: hidden;
  }
  
########################################################################################################################################

@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 62px;
	left: 726px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 37px;
	left: 722px;
	width: 310px;
	height: 20px;
	overflow: hidden;
  }

  .datosdelsolicitantepersonanatural_datosdelapersona_cdulapasaporte {
	position: absolute;
	top: 1026px;
	left: 280px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonanatural_datosdelapersona_nombrecompleto {
	position: absolute;
	top: 1064px;
	left: 280px;
	width: 671px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonanatural_informacinderesidencialocalizacin_pas {
	position: absolute;
	top: 1026px;
	left: 747px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonanatural_informacinderesidencialocalizacin_direccin {
	position: absolute;
	top: 1101px;
	left: 279px;
	width: 673px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonanatural_informacinderesidencialocalizacin_nmerodetelfono {
	position: absolute;
	top: 1137px;
	left: 282px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonanatural_informacinderesidencialocalizacin_correoelectrnico {
	position: absolute;
	top: 1137px;
	left: 748px;
	width: 274px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonanatural_enrepresentacionde_nombrecompleto {
	position: absolute;
	top: 1175px;
	left: 280px;
	width: 670px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonanatural_enrepresentacionde_direccion {
	position: absolute;
	top: 1211px;
	left: 280px;
	width: 670px;
	height: 20px;
	overflow: hidden;
  }
  
  .datosdelsolicitantepersonajuridica_datosdelaempresa_ruc {
	position: absolute;
	top: 199px;
	left: 280px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_datosdelaempresa_nombre {
	position: absolute;
	top: 236px;
	left: 279px;
	width: 673px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_direccin_pas {
	position: absolute;
	top: 309px;
	left: 278px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_direccin_direccin {
	position: absolute;
	top: 273px;
	left: 278px;
	width: 675px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_direccin_nmerodetelfono {
	position: absolute;
	top: 309px;
	left: 747px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_direccin_nmerocelular {
	position: absolute;
	top: 346px;
	left: 747px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_direccin_correoelectrnico {
	position: absolute;
	top: 346px;
	left: 277px;
	width: 371px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_enrepresentacionde_nombrecompleto {
	position: absolute;
	top: 384px;
	left: 279px;
	width: 670px;
	height: 20px;
	overflow: hidden;
  }
  .datosdelsolicitantepersonajuridica_enrepresentacionde_direccion {
	position: absolute;
	top: 420px;
	left: 277px;
	width: 672px;
	height: 20px;
	overflow: hidden;
  }
