@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 72px;
	left: 677px;
	width: 356px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 49px;
	left: 677px;
	width: 352px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_titulodelaobra {
	position: absolute;
	top: 156px;
	left: 252px;
	width: 760px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_estatusdelaobra {
	position: absolute;
	top: 193px;
	left: 653px;
	width: 310px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_fechadepublicacin {
	position: absolute;
	top: 224px;
	left: 252px;
	width: 326px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_edicinnmero {
	position: absolute;
	top: 260px;
	left: 252px;
	width: 320px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_isbn {
	position: absolute;
	top: 297px;
	left: 653px;
	width: 311px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_tipodeobra {
	position: absolute;
	top: 224px;
	left: 653px;
	width: 318px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_otro {
	position: absolute;
	top: 260px;
	left: 653px;
	width: 319px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_caractersticasdeldepsito {
	position: absolute;
	top: 297px;
	left: 252px;
	width: 323px;
	height: 20px;
	overflow: hidden;
  }
  .informacindelaobraliteraria_datosdelaobra_aocreacindelaobra {
	position: absolute;
	top: 193px;
	left: 252px;
	width: 321px;
	height: 20px;
	overflow: hidden;
  }
  .observacin_observaciones_areadetexto {
	position: absolute;
	top: 329px;
	left: 252px;
	width: 753px;
	height: 51px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_1_datosdelapersona_cdulapasaporte {
	position: absolute;
	top: 575px;
	left: 252px;
	width: 439px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_1_datosdelapersona_nombrecompleto {
	position: absolute;
	top: 539px;
	left: 252px;
	width: 754px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_1_datosdelaempresa_ruc {
	position: absolute;
	top: 575px;
	left: 252px;
	width: 441px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_1_datosdelaempresa_nombre {
	position: absolute;
	top: 539px;
	left: 252px;
	width: 759px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_1_informacinderesidencialocalizacin_pas {
	position: absolute;
	top: 609px;
	left: 252px;
	width: 313px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_1_informacinderesidencialocalizacin_ciudad {
	position: absolute;
	top: 609px;
	left: 653px;
	width: 308px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_1_informacinderesidencialocalizacin_direccin {
	position: absolute;
	top: 638px;
	left: 252px;
	width: 762px;
	height: 40px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_2_datosdelapersona_cdulapasaporte {
	position: absolute;
	top: 820px;
	left: 252px;
	width: 441px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_2_datosdelapersona_nombrecompleto {
	position: absolute;
	top: 785px;
	left: 252px;
	width: 765px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_2_datosdelaempresa_ruc {
	position: absolute;
	top: 820px;
	left: 252px;
	width: 444px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_2_datosdelaempresa_nombre {
	position: absolute;
	top: 785px;
	left: 252px;
	width: 761px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_2_informacinderesidencialocalizacin_pas {
	position: absolute;
	top: 853px;
	left: 252px;
	width: 312px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_2_informacinderesidencialocalizacin_ciudad {
	position: absolute;
	top: 853px;
	left: 653px;
	width: 312px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_2_informacinderesidencialocalizacin_direccin {
	position: absolute;
	top: 882px;
	left: 252px;
	width: 767px;
	height: 43px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_3_datosdelapersona_cdulapasaporte {
	position: absolute;
	top: 1059px;
	left: 253px;
	width: 443px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_3_datosdelapersona_nombrecompleto {
	position: absolute;
	top: 1025px;
	left: 252px;
	width: 755px;
	height: 22px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_3_datosdelaempresa_ruc {
	position: absolute;
	top: 1059px;
	left: 252px;
	width: 442px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_3_datosdelaempresa_nombre {
	position: absolute;
	top: 1025px;
	left: 252px;
	width: 759px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_3_informacinderesidencialocalizacin_pas {
	position: absolute;
	top: 1092px;
	left: 252px;
	width: 315px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_3_informacinderesidencialocalizacin_ciudad {
	position: absolute;
	top: 1092px;
	left: 653px;
	width: 312px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_3_informacinderesidencialocalizacin_direccin {
	position: absolute;
	top: 1123px;
	left: 252px;
	width: 760px;
	height: 42px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_4_datosdelapersona_cdulapasaporte {
	position: absolute;
	top: 1301px;
	left: 252px;
	width: 439px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_4_datosdelapersona_nombrecompleto {
	position: absolute;
	top: 1266px;
	left: 252px;
	width: 767px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_4_datosdelaempresa_ruc {
	position: absolute;
	top: 1301px;
	left: 252px;
	width: 443px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_4_datosdelaempresa_nombre {
	position: absolute;
	top: 1266px;
	left: 252px;
	width: 766px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_4_informacinderesidencialocalizacin_pas {
	position: absolute;
	top: 1336px;
	left: 252px;
	width: 312px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_4_informacinderesidencialocalizacin_ciudad {
	position: absolute;
	top: 1336px;
	left: 653px;
	width: 312px;
	height: 20px;
	overflow: hidden;
  }
  .datosdeloseditores_instance_4_informacinderesidencialocalizacin_direccin {
	position: absolute;
	top: 1367px;
	left: 251px;
	width: 764px;
	height: 42px;
	overflow: hidden;
  }
  .transferencia_sinopsisdelaobra_descripcintransferencia {
	position: absolute;
	top: 395px;
	left: 252px;
	width: 762px;
	height: 41px;
	overflow: hidden;
  }
