@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.main_pdf_content {
  /* main_pdf_content: estos attributos seran ignorados en rendeo */
  background-image: url(RUTA_IMAGEN.png);
  top: 0px;
  left: 0px;
  height:1344px;
  width: 1024px;
  position: absolute;
}

  .informacindesolicitud_datosdelasolicitud_fechadesolicitud {
	position: absolute;
	top: 96px;
	left: 722px;
	width: 232px;
	height: 20px;
	overflow: hidden;
  }
  .informacindesolicitud_datosdelasolicitud_numerodesolicitud {
	position: absolute;
	top: 70px;
	left: 613px;
	width: 401px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_nombredelaentidad {
	position: absolute;
	top: 132px;
	left: 287px;
	width: 480px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_usuario {
	position: absolute;
	top: 170px;
	left: 287px;
	width: 260px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_nmerodeobservacin {
	position: absolute;
	top: 170px;
	left: 773px;
	width: 147px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora3_observaciones {
	position: absolute;
	top: 237px;
	left: 47px;
	width: 941px;
	height: 257px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_nombredelaentidad {
	position: absolute;
	top: 520px;
	left: 288px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_usuario {
	position: absolute;
	top: 559px;
	left: 292px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_nmerodeobservacin {
	position: absolute;
	top: 558px;
	left: 783px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora4_observaciones {
	position: absolute;
	top: 625px;
	left: 52px;
	width: 934px;
	height: 257px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora5_nombredelaentidad {
	position: absolute;
	top: 909px;
	left: 284px;
	width: 487px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora5_usuario {
	position: absolute;
	top: 946px;
	left: 283px;
	width: 264px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora5_nmerodeobservacin {
	position: absolute;
	top: 947px;
	left: 779px;
	width: 135px;
	height: 20px;
	overflow: hidden;
  }
  .entidadevaluadorarevisiones_entidadevaluadora5_observaciones {
	position: absolute;
	top: 1015px;
	left: 50px;
	width: 934px;
	height: 257px;
	overflow: hidden;
  }
  
